p {
    font-weight: 300;
    line-height: 1.5;
}

ul {
    font-weight: 300;
    line-height: 1.5;
    margin-left: 5%;
}

.vid1 {
    max-width: 500px;
    margin: 70px auto;
    display: flex;
    align-content: center;
    border-radius: 20px;
}

.banner{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.div1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2cm;
    padding-bottom: 2cm;
    background-color: #EBF0F7;
    align-items: center;
}

.div1 img {
    max-height: 11cm;
    max-width: 500px;
    object-fit:cover;
    border-radius: 20px; 
}

.div1 p {
    max-width: 500px;
}

.div1 h2 {
    text-align: center;
    padding-right: 10%
}

svg {
    max-height: 11cm;
    max-width: 500px;

}


.div2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2cm;
    padding-bottom: 2cm;
    background-color: #EBF0F7;
    align-items: center;
}

.div2 p {
    max-width: 500px;
    
}

.div2 h2 {
    text-align: center;
    padding-right: 10%
}

.div3 {
    background-color: #EBF0F7;
    justify-content: center;
    display: flex;
    padding-top: 2cm;
    padding-bottom: 2cm;
}

.div3 h2 {
    text-align: center;
    margin-bottom: 1cm;
}


.div3 img {
    width: 250px;
    border-radius: 50%;
}

.div3 h3 {
    color: #f2d49c;
    text-align: center;
}

.div3box2 {
    display: flex;
}

.space {
    margin-left: 10%;
}

.person {
    background-color: #7B90B2;
    width: 350px;
    margin-left: 70px;
    margin-right: 70px;
    padding: 20px;
    border-radius: 50px;
    text-align: center;
}

.div3 p {
    text-align: left;
    color: white;
}

.div4 {
   text-align: center; 
   width: 80%;
   margin-right: 10%;
   margin-left: 10%;
   padding-top: 2cm;
}

.div4 img {
    width: 100%;
    margin-top: 20px;
}

#hvid {
    background-color: white;
}

/*---------- Slideshow ----------*/
.hi-slide {
    position: relative;
    width: 754px;
    height: 292px;
    margin: 40px auto 0;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

.hi-slide .hi-next,
.hi-slide .hi-prev {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 80px;
    margin-top: -40px;
    border-radius: 5px;
    line-height: 80px;
    text-align: center;
    cursor: pointer;
    background-color: #F2D49C;
    color: #fff;
    opacity: .7;
    transition: all .6s;
    font-size: 30px
}

.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover {
    opacity: 1;
    background-color: #F0C77B
}

.hi-slide .hi-prev {
    left: -60px
}

.hi-slide .hi-prev::before {
    content: '<'
}

.hi-slide .hi-next {
    right: -60px
}

.hi-slide .hi-next::before {
    content: '>'
}

.hi-slide>ul {
    list-style: none;
    position: relative;
    width: 754px;
    height: 292px;
    margin: 0;
    padding: 0
}

.hi-slide>ul>li {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: 377px;
    top: 146px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #333;
    cursor: pointer
}

.hi-slide>ul>li>img {
    width: 100%;
    height: 100%
}


@media only screen and (max-width: 900px) {
    /*video*/
    .fuck1 {
        margin: 30px auto;
    }

    .div1 {
        display: block;
    }
    .div1 img { 
        max-width: 100%;
        margin-top: 10px;
    }

    .div1 p {
        max-width: 100%;
        padding-right: 0%;
    }

    .div2 {
        flex-direction: column-reverse;
    }

    svg {
        max-height: 11cm;
        max-width: 100%;
    }

    .div3box2 {
        display: block;
    }

    .person {
        margin-bottom: 10px;
        width: 80%;
    }
    .div1 h2 {
        text-align: center;
        padding-right: 0%
    }

    h2 {
        text-align: center;
        padding: 0,0,0,0;
    }

    /*---------- Slideshow ----------*/

    .hi-slide {
        position: relative;
        width: 100%;
        height: 292px;
        margin: 40px auto 0;
        max-width: 100%;
        display: block;
        margin-left: 0%;
    }

    .hi-slide .hi-next,
    .hi-slide .hi-prev {
        position: absolute;
        top: 35%;
        width: 40px;
        height: 80px;
        margin-top: -40px;
        border-radius: 5px;
        line-height: 80px;
        text-align: center;
        cursor: pointer;
        background-color: #F2D49C;
        color: #fff;
        opacity: .7;
        transition: all .6s;
        font-size: 30px
    }

    .hi-slide .hi-next:hover,
    .hi-slide .hi-prev:hover {
        opacity: 1;
        background-color: #F0C77B;
    }

    .hi-slide .hi-prev {
        left: 8%;
        z-index: 10;

    }

    .hi-slide .hi-prev::before {
        content: '<';
    }

    .hi-slide .hi-next {
        right: 5%;
        z-index: 10;
    }

    .hi-slide .hi-next::before {
        content: '>';
    }

    .hi-slide>ul {
        list-style: none;
        position: relative;
        width: 100%;
        height: 292px;
        margin: 0;
        padding: 0;
    }

    .hi-slide>ul>li {
        overflow: hidden;
        position: absolute;
        z-index: 0;
        left: 60px;
        top: 146px;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        border: 2px solid #fff;
        border-radius: 5px;
        background-color: #333;
        cursor: pointer;
    }

    .hi-slide>ul>li>img {
        width: 100%;
        height: 100%;
    }

}


