p {
    line-height: 1.5;
    font-weight: 300;
}

.fuck1 {
    width: 60%;
    margin: 70px auto;
    display: flex;
    align-content: center;
    border-radius: 20px;
}
/*Line&rikke afsnit*/
.flexbox {
    background-color: #EBF0F7;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2cm;
    padding-bottom: 2cm;
    display: flex;
    align-items: center;
}

.img1 {
    object-fit: cover;
    width: 40%;
    border-radius: 20px;
}

.fade-scale-in {
    transform: scale(0.7);
    opacity: 0;
}

.fade-scale-in.transition {
    transition: all 0.5s ease-in-out;
    transform: scale(1);
    opacity: 1;
}

.beskrivelse1 {
    padding-right: 5%;
}

h2 {
    text-align: center;
    margin-bottom: 1%;
}

/*line*/
.flexbox1 {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2cm;
    padding-bottom: 2cm;
    display: flex;
    align-items: center;
}

.beskrivelse2 {
    padding-left: 5%;

}

/*Rikke*/

.flexbox3 {
    background-color: #EBF0F7;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2cm;
    padding-bottom: 2cm;
    display: flex;
    align-items: center;

}

.beskrivelse3 {
    padding-right: 5%;
}

/*Knapper i bunden*/

.flexbox4 {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: auto;
    padding: 50px 50px;

}

/*media res*/

@media only screen and (min-width: 900px) {
    .openbtn {
        display: none;
    }
}

@media only screen and (max-width: 900px) {

    .top a {
        display: none;
    }

    /*video*/
    .fuck1 {
        margin: 30px auto;
    }
    /*line&rikke*/
    .flexbox {
        flex-direction: column-reverse;
    }

    .beskrivelse1 {
        padding-left: 5%;
    }

    .img1 {
        width: 100%;
        display: flex;
    }
    /*Line*/
    .flexbox1 {
        flex-direction: column;
    }

    .img2 {
        width: 100%;
        display: flex;
    }

    /*rikke*/
    .flexbox3 {
        flex-direction: column-reverse;
    }

    p {

    }

    .img3 {
        width: 100%;
    }

    .beskrivelse3 {
        padding-left: 5%;
    }
}
