*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: ainslie-sans, sans-serif;
    font-weight: 600;
    font-style: normal;
}

/*------ Navigationsbar ------*/

.logo {
    height: 50px;
}

.hotbar {
    overflow: hidden;
    background-color: #7B90B2;
    padding-left: 10%;
    padding-right: 10%;
}

.top {
    display: flex;
    align-items: center;
}

.top a {
    float: left;
    flex-grow: 1;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px 10px 20px;
    text-decoration: none;
    font-size: 17px;
}

/*--------- Dropdown menu-------*/
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-right: 1px solid black;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: black;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #979797;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/*-FOOTER-*/

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: black;
	background-color: whitesmoke;
	border-top: #979797 solid 0.5px;
	margin: auto;
}

.some_image {
	width: 32px;
	margin-right: 16px;
}

.footerlinks {
	color: black;
}


/*---------- MEDIA RES ---------*/

@media only screen and (min-width: 900px) {
  
#main {
    display: none;
  }
}

@media only screen and (max-width: 900px) {

    .top a {
        display: none;
    }
}