* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: ainslie-sans, sans-serif;
    font-weight: 600;
    font-style: normal;
}

p {
    font-size: clamp(0.9rem, 1.3vw + 0.2rem, 1.3rem);
    font-weight: 300;
    line-height: 1.5;
}

h1 {
    font-size: clamp(2rem, 6vw - 2.2rem, 3rem);
}

h2 {
    font-size: clamp(1.5rem, 2vw + 0.3rem, 2rem);
}

/*------ Navigationsbar ------*/

.logo {
    height: 50px;
}
#orange {
    color: #f2d49c;
}

.hotbar {
    overflow: hidden;
    background-color: #7B90B2;
    padding-left: 5%;
    padding-right: 5%;
}

.top {
    display: flex;
    align-items: center;
}

.top a {
    float: left;
    flex-grow: 1;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px 10px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    width: 0.5%;
    border-bottom: 0.5px solid white;
    text-decoration-thickness: 0.5px;
}

.top a:hover {
    color: #f2d49c;
}

/*--------- Dropdown menu-------*/
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-right: 1px solid black;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: black;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
    float: right;
}

.openbtn:hover {
    background-color: #979797;
}

#main {
    transition: margin-left 0.5s;
    padding: 16px;
}

/*-FOOTER-*/

.footer {
    padding: 2% 10% 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: black;
    background-color: whitesmoke;
    border-top: #979797 solid 0.1px;
    margin: auto;
    justify-content: space-between;
}

.some_image {
    width: 32px;
    margin-right: 16px;
}

.footerlinks {
    color: black;
}

.some-icons {
    margin-left: 30px;
}

.some {
    width: 60px;
}

/*---------- MEDIA RES ---------*/

@media only screen and (min-width: 900px) {

    #main {
        display: none;
    }
}

@media only screen and (max-width: 900px) {

    p {
        font-size: clamp(1rem, 0.8vw + 0.8rem, 1.2rem);
        font-weight: 300;
        line-height: 1.5;
    }

    h1 {
        font-size: clamp(1.7rem, 2vw + 0.3rem, 2rem);
    }

    h2 {
        font-size: clamp(1.5rem, 1.2vw + 0.5rem, 1.7rem);
    }

    .top a {
        display: none;
    }
}
