body{
    background-color: #EBF0F7 ;
}


h1 {
    padding: 3%;
    display: block;
    margin: auto;
    text-align: center;

}

p {
    width: 60%;
    display: block;
    margin: auto;
}

/* -------- Formular -------- */

.tekst {
    display: flex;

}

.tekst2 {
    display: flex;
    padding: 3%;

}


h1 {
    text-align: center;

}

.boks {
    display: block;
    margin: auto;
    border: 1px solid black;
    width: 60%;
    text-align: center;
    border-radius: 10px;
}

.boks div {
    padding: 10px;
    text-decoration: none;
    display: block;
    margin: auto;
}

.boks div input {
    border-radius: 50px;
    height: 25px;
}

.boks2 {
    display: block;
    margin: auto;
    border: 1px solid black;
    width: 60%;
    border-radius: 10px;
    margin-top: 5%;
}

.button {
    background-color: #F2D49C;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    color: black;
    cursor: pointer;
    font-size: 1 rem;
    text-align: center;
    line-height: 40px;
    z-index: 5;
    justify-content: center;
    margin-top: 15px;
    text-decoration: none;
    border: 1px #F2D49C;
    margin-bottom: 5%;
    font-size: 16px;
}

.logokvit{
    width: 300px;
    display: block;
    margin: auto;
}

h2{
    text-align: center;
    padding-bottom: 6%;
}

.padding{
    padding-top: 3%;
}

@media only screen and (max-width: 900px) {
    h1 {
        padding: 3%;
        display: block;
        margin: auto;
        text-align: center;
    
    }
    
    p {
        width: 60%;
        display: block;
        margin: auto;
    }
    
    /* -------- Formular -------- */
    
    .tekst {
        display: flex;
    
    }
    
    .tekst2 {
        display: flex;
        padding: 3%;
    
    }
    
    
    h1 {
        text-align: center;
        font-size: 25px;
    
    }
    
    .boks {
        display: block;
        margin: auto;
        border: 1px solid black;
        width: 60%;
        text-align: center;
        border-radius: 10px;
    }
    
    .boks div {
        padding: 10px;
        text-decoration: none;
        display: block;
        margin: auto;
    }
    
    .boks div input {
        border-radius: 50px;
        height: 25px;
    }
    
    .boks2 {
        display: block;
        margin: auto;
        border: 1px solid black;
        width: 80%;
        border-radius: 10px;
        margin-top: 5%;
    }
    
    .button {
        background-color: #F2D49C;
        width: 120px;
        height: 33px;
        border-radius: 30px;
        color: black;
        cursor: pointer;
        font-size: 1 rem;
        text-align: center;
        line-height: 33px;
        z-index: 5;
        justify-content: center;
        margin-top: 15px;
        text-decoration: none;
        border: 1px #F2D49C;
        margin-bottom: 5%;
        font-size: 14px;
    }
    
    .logokvit{
        width: 300px;
        display: block;
        margin: auto;
    }
    
    h2{
        text-align: center;
        padding-bottom: 6%;
        padding-top: 3%;
        font-size: 20px;
    }
    
    .padding{
        padding-top: 3%;
    }

}